*
!.gitignore
!BlakesOdumo.jpeg
!BlakesPerform1.jpeg
!BlakesPerform3.jpeg
!Blake’s Wallpaper.PNG
!IMG_3173.PNG
!IMG_3174.PNG
!IMG_3175.PNG
!IMG_3176.PNG
!MainHeroImage.PNG
!afroheatblakes.jpeg
!blakesPerform2.jpeg
!index.html
!merch 1.png
!merch 2.png
!merch.jpeg
!merchcap.jpeg
!merchheadwarmer.png
!merchhoodie.png
!musicImage.jpeg
!script.js
!style.css
